.list {
    display: flex;

    .listContainer {
        flex: 6;

        main {
            margin: 0;
            padding: 0;
            width: 100%;
        }
    }
}

@media (max-width: 68em) {
    .list {
        .listContainer {
            main {
            }
        }
    }
}

@media (max-width: 46em) {
    .list {
        .listContainer {
            main {
            }
        }
    }
}
