.sidebar{
    flex:1;
    border-right: 0.5px solid rgb(230, 227, 227);
    min-height: 100vh;
    background-color: white;
 

    .top{
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo{
            font-size: 2rem;
            font-weight: bold;
            color: #6439ff;
        }
        
    }

    hr{
        height: 0;
        border: 0.5px solid rgb(230, 227, 227);
    }

    .center{
        padding-left: 10px;

        ul{
            list-style: none;
           
            
            .title{
                font-size: 1.2rem;
                font-weight: bold;
                color: #999;
                margin-top: 1.5rem;
                margin-bottom: 0.5rem ;
                
            }

            li{
                display: flex;
                align-items: center;
              
                padding: 0.5rem;
                cursor: pointer;

                &:hover{
                    background-color: #ece8ff;
                }

                .icon{
                    font-size: 2.2rem;
                    color: #7451f8
                }

                span{
                    font-size: 1.6rem;
                    font-weight: 600;
                    color: #888;
                    margin-left: 1rem;
                }
            }
        }
    }

    .bottom{
        display: flex;
        align-items: center;
        margin: 1rem;
        margin-top: 3rem;

        .colorOption{
            width: 2rem;
            height: 2rem;
            border-radius: 5px;
            border: 1px solid #7451f8;
            cursor: pointer;
            margin: 0.5rem;

            &:nth-child(1){
                background-color: whitesmoke;
            }

            &:nth-child(2){
                background-color: #0f172a;
            }

            &:nth-child(3){
                background-color: #333;
            }
            &:nth-child(4){
                background-color: darkblue;
            }
            &:nth-child(5){
                background-color: #6b21a8;
            }
           
        }
    }
}

@media(max-width: 68.75em){
    .sidebar{
        .top{
            .logo{
                font-size: 1.8rem;
            }
        }

        .center{
            padding: 8px;

            ul{

                .title{
                    font-size: 1.15rem;
                }

                li{
                    .icon{
                        font-size: 2rem;
                    }

                    span{
                        font-size: 1.4rem;
                    }
                }
            }
        }

        .bottom{
            .colorOption{
                width: 1.8rem;
                height: 1.8rem;
            }
        }
    }
}

@media(max-width: 46em){
    .sidebar{
        display: none;
    }
}