.dataTable {
    height: 32vw;
    padding: 2rem;

    .dataTableTitle {
        width: 100%;
        font-size: 2.4rem;
        color: gray;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .link {
            text-decoration: none;
            color: green;
            font-size: 1.6rem;
            font-weight: 400;
            border: 1px solid green;
            padding: 5px;
            cursor: pointer;
        }
    }

    .dataGrid {
        font-size: 1.5rem;

        .cellWithImg {
            display: flex;
            align-items: center;

            .cellImg {
                width: 3.2rem;
                height: 3.2rem;
                object-fit: cover;
                margin-right: 2rem;
            }
        }

        .cellWithStatus {
            padding: 0.5rem;
            border-radius: 0.5rem;

            &.active {
                color: green;
                background-color: rgba(0, 128, 0, 0.05);
            }

            &.passive {
                color: red;
                background-color: rgba(255, 0, 0, 0.05);
            }

            &.pending {
                color: goldenrod;
                background-color: rgba(255, 217, 0, 0.05);
            }
        }
        .cellAction {
            display: flex;
            align-items: center;
            gap: 1.5rem;

            .viewButton {
                padding: 2px 5px;
                border-radius: 5px;
                color: darkblue;
                border: 1px dotted rgba(0, 0, 139, 0.618);
                cursor: pointer;
            }

            .deleteButton {
                padding: 2px 5px;
                border-radius: 5px;
                color: crimson;
                border: 1px dotted rgba(220, 20, 60, 0.623);
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 68em) {
    .dataTable {
        height: 50vh;

        .dataTableTitle{
            font-size: 2rem;

            .link{
                font-size: 1.4rem;
            }
        }
        .dataGrid {
            font-size: 1.4rem;
            color: gray;
        }
    }
}

@media (max-width: 46em) {
    .dataTable {
        height: 50vh;

        .dataGrid {
            font-size: 1.4rem;
            color: gray;
        }
    }
    .empty {
        height: 46vh;
        width: 100%;
    }
}
