.new{
    width: 100%;
    display: flex;

    .newContainer{
        flex: 6;

        main{
            .top, .bottom{
                -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
                padding: 1rem;
                margin: 2rem;
                display: flex;

                h1{
                    color: lightgray;
                    font-size: 2rem;
                }

                .left{
                    flex: 1;
                }
                .right{
                    flex: 2
                }
            }
        }
    }
}

@media (max-width: 68em) {
    
  }
  
  @media (max-width: 46em) {
    
  }
  